body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #c35959;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.calculator {
    background: #333;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 22px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
}

button {
    height: 60px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #555;
    color: white;
    cursor: pointer;
}

button:hover {
    background: orange;
}

.zero {
    grid-column: span 3;
}